@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-brown text-grey;
    }
    /* h1 {
        @apply font-imbue uppercase text-6xl md:text-7xl lg:text-8xl;
    } */
    h1 {
        @apply font-sheffield text-6xl md:text-7xl lg:text-9xl;
    }
    h2 {
        @apply font-lato uppercase tracking-spacingH2 text-xs md:text-base lg:text-2xl;
    }
    h3 {
        @apply font-lato uppercase tracking-spacingH3 font-semibold text-xl lg:text-2xl;
    }
    h4 {
        @apply font-lato font-semibold tracking-wider text-lg lg:text-xl;
    }
    h5 {
        @apply font-lato tracking-wider font-semibold text-sm lg:text-base;
    }
    p {
        @apply font-slab text-left text-sm md:text-base lg:text-base;
    }
}