@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-brown text-grey;
    }
    h1 {
        @apply font-imbue uppercase text-6xl md:text-7xl lg:text-8xl;
    }
    h2 {
        @apply font-mina font-medium text-3xl md:text-4xl lg:text-5xl;
    }
    h3 {
        @apply font-roboto font-semibold text-xl md:text-2xl lg:text-3xl;
    }
    h4 {
        @apply font-roboto font-semibold text-lg;
    }
    p {
        @apply font-slab text-left text-sm md:text-base lg:text-base;
    }
}